# Eclipse
.project
.classpath
.settings
.checkstyle

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# Gradle
.gradle
build

# Maven
target
release.properties
pom.xml.*

# Ant
bin
gen
build.xml
ant.properties
local.properties
proguard-project.txt

#Crashlytics
.crashlytics_data
com_crashlytics_export_strings.xml

# Other
out/
.DS_Store
tmp
gradle





### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


library/build
example/build